version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: bar-tally-app
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - laravel
    ports:
        - "8005:80"
  nginx:
    image: nginx:alpine
    container_name: bar-tally-nginx
    restart: unless-stopped
    ports:
      - "8005:80"
    volumes:
      - ./:/var/www
      - ./nginx:/etc/nginx/conf.d/
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: bar-tally-mysql
    restart: unless-stopped
    ports:
      - "3308:3306"
    environment:
      MYSQL_DATABASE: bar-tally

      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysqldata:/var/lib/mysql
    networks:
      - laravel

  redis:
    image: redis:alpine
    container_name: bar-tally-redis
    restart: unless-stopped
    ports:
    - "6380:6379"
    networks:
      - laravel

networks:
  laravel:
    driver: bridge

volumes:
  mysqldata:
    driver: local
